{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="login-page">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn">Inscription</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
